.main-nav {
  position: relative;
  border-bottom: 1px solid #ececec; }

.main-nav__wrapper {
  max-width: 1250px;
  margin: 0 auto; }

.main-nav__button {
  font-size: 0;
  outline: none;
  width: 22px;
  height: 14px;
  background-image: url("../img/icon-menu-open.svg");
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px; }

.main-nav__button--close {
  font-size: 0;
  outline: none;
  width: 22px;
  height: 22px;
  background-image: url("../img/icon-menu-close.svg");
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  background-repeat: no-repeat; }

.main-nav--hidden {
  display: none; }

.main-nav__show {
  display: block; }

.main-nav__user-menu {
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  position: relative; }

.main-nav__dropdown {
  font-size: 17px;
  line-height: 24px;
  font-weight: 600; }

.main-nav__icon-search {
  fill: #d3d2d2;
  position: absolute;
  left: 25px;
  bottom: 20px; }

.main-nav__item {
  color: #000000;
  text-decoration: none;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 75px;
  display: block;
  border-bottom: 1px solid #ececec;
  position: relative; }
  .main-nav__item:active {
    opacity: 0.3;
    border-color: #b9b8b8; }
  .main-nav__item:hover {
    color: #666666; }

.main-nav__form {
  display: flex;
  position: relative;
  padding-bottom: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #ececec;
  padding-left: 75px;
  padding-right: 70px; }

.main-nav__icon-cart {
  fill: #d3d2d2;
  position: absolute;
  left: 25px;
  bottom: 20px; }

.main-nav__item--delivery {
  display: none; }

.main-nav__form-label {
  background: url("../img/icon-search.svg");
  width: 18px;
  height: 18px;
  font-size: 0;
  cursor: pointer;
  position: absolute;
  left: 30px; }
  .main-nav__form-label:hover {
    background: url("../img/icon-search-hover.svg"); }
  .main-nav__form-label:active {
    background: url("../img/icon-search-hover.svg");
    opacity: 0.2; }

.main-nav__form-input {
  border: none;
  outline: none;
  font-size: 17px;
  color: #000000;
  font-weight: bold; }
  .main-nav__form-input::-webkit-input-placeholder {
    color: #000000;
    font-size: 17px;
    font-weight: 600;
    opacity: 0.7; }
  .main-nav__form-input .main-nav__dropdown--close {
    display: none; }

@media (max-width: 1150px) {
  .main-nav__item--hidden {
    display: none; } }

@media (min-width: 768px) {
  .main-nav__dropdown {
    flex-flow: row wrap;
    width: 50%;
    order: 3;
    display: flex;
    padding-top: 2px;
    z-index: 100; }
  .main-nav__menu-container {
    order: 5;
    display: flex;
    justify-content: flex-end; }
  .main-nav__item--hidden {
    display: none; }
  .main-nav__item--site-catalog {
    font-size: 15px;
    line-height: 24px;
    border: none;
    width: 50%;
    padding-right: 0;
    padding-left: 0; }
  .main-nav__icon-search {
    left: 34px;
    bottom: 36px; }
  .main-nav__wrapper {
    display: flex;
    flex-flow: row wrap;
    height: 90px;
    max-width: 668px;
    justify-content: space-between; }
  .main-nav__button {
    display: none; }
  .main-nav__user-menu {
    order: 2;
    display: flex; }
  .main-nav__item--search {
    font-size: 0;
    padding-right: 0;
    padding-left: 0;
    min-width: 82px;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
    padding-top: 35px;
    border-bottom: 0;
    height: 40px;
    max-width: none; }
  .main-nav__item--delivery {
    display: block;
    font-size: 15px;
    line-height: 24px;
    border: none;
    padding-right: 0;
    font-weight: normal;
    text-align: center;
    padding-left: 0;
    order: 5;
    z-index: 100; }
  .main-nav__form-input {
    display: none; }
  .main-nav__item--cart {
    padding-top: 31px;
    border: 0;
    padding-right: 0;
    padding-left: 82px; }
  .main-nav__icon-cart {
    left: 30px;
    bottom: 35px; }
  .main-nav__item {
    color: #000000;
    max-width: none; }
    .main-nav__item:active {
      color: #b2b2b2; }
      .main-nav__item:active svg {
        fill: #d0f1ea; }
    .main-nav__item:hover {
      color: #8f8f8f; }
      .main-nav__item:hover svg {
        fill: #63d1bb; }
  .main-nav__site-catalog-wrapper {
    display: flex;
    justify-content: space-around;
    width: 44%; } }

@media (min-width: 1150px) {
  .main-nav__dropdown {
    order: 1;
    flex-flow: row wrap;
    justify-content: flex-start;
    display: flex;
    flex: 0 0 37%;
    padding-left: 0;
    height: 90px;
    margin-left: 0; }
  .main-nav__wrapper {
    max-width: 1050px;
    height: 90px; }
  .main-nav__item {
    padding-left: 0;
    padding-right: 20px;
    width: 42%;
    padding-top: 30px; }
  .main-nav__form {
    height: 40px;
    margin-left: 2px; }
  .main-nav__item--site-catalog {
    font-size: 17px;
    line-height: 24px;
    font-weight: 600; }
  .main-nav__item--site-catalog:first-child {
    border-right: 1px solid #ececec;
    padding-right: 22px; }
  .main-nav__item--site-catalog:last-child {
    padding-left: 34px;
    padding-right: 0; }
  .main-nav__item--hidden:nth-child(1) {
    padding-right: 22px; }
  .main-nav__item--hidden:nth-child(2) {
    padding-left: 34px; }
  .main-nav__item--search {
    width: 20%;
    padding-right: 0;
    padding-top: 35px; }
  .main-nav__user-menu {
    flex: 0 0 33.5%;
    border: none;
    margin-left: 6%; }
  .main-nav__item--cart {
    border: none;
    width: 55%;
    padding-right: 0;
    padding-left: 84px;
    padding-top: 30px; }
  .main-nav__form-label {
    left: 35px;
    top: 35px; }
  .main-nav__icon-cart {
    position: absolute;
    top: 32px;
    left: 34px; }
  .main-nav__menu-container {
    display: flex;
    order: 4;
    flex: 0 0 37%;
    justify-content: flex-start;
    z-index: 100; }
  .main-nav__item--delivery {
    display: inline;
    text-align: end;
    padding-right: 0;
    padding-top: 14px;
    width: 243px; }
  .main-nav__item--hidden {
    border: none;
    line-height: 24px;
    width: 42%;
    font-size: 15px;
    font-weight: bold;
    padding-right: 0;
    display: block;
    padding-top: 14px; } }

@media all and (min-width: 1150px) and (-ms-high-contrast: none), (min-width: 1150px) and (-ms-high-contrast: active) {
  .main-nav__item--delivery {
    width: 23%; } }

.logo {
  padding-top: 11px;
  padding-bottom: 7px;
  width: 98px;
  margin: auto;
  display: flex; }

.logo__image:hover {
  opacity: 0.4; }

.logo__image:active {
  opacity: 0.2; }

@media only screen and (min-width: 768px) {
  .logo {
    order: 1;
    margin: 0;
    border: none;
    text-align: left;
    width: 200px;
    padding-top: 22px; }
  .logo__image {
    display: flex;
    justify-content: flex-start;
    width: 109px; }
  .logo__image-option {
    width: 112px;
    height: 46px; } }

@media (min-width: 1150px) {
  .logo {
    order: 2;
    display: flex;
    justify-content: center;
    width: 19%;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    align-self: center;
    margin-left: 45px; }
  .logo__image {
    margin: 0;
    width: 165px; }
  .logo__image-option {
    width: 148px;
    height: 73px; } }

@media all and (min-width: 1150px) and (-ms-high-contrast: none), (min-width: 1150px) and (-ms-high-contrast: active) {
  .logo {
    padding-bottom: 4px; } }

.page-header__header {
  padding-top: 72px;
  padding-bottom: 74px;
  background-color: #f1f1f1;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  margin: 0; }

@media (min-width: 768px) {
  .page-header__header {
    font-size: 43px;
    padding-top: 103px;
    padding-bottom: 95px;
    position: relative; }
    .page-header__header::after {
      content: "";
      z-index: 8;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      position: absolute;
      bottom: -15px;
      left: 0;
      background-repeat: repeat-x;
      background-size: 668px 22px; } }

@media (min-width: 1150px) {
  .page-header__header {
    margin-top: 0;
    font-size: 53px;
    line-height: 57px;
    padding-top: 90px;
    padding-left: 0;
    padding-bottom: 110px; }
    .page-header__header::after {
      height: 34px;
      background-size: 1150px 34px; } }

.button {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 255px;
  color: #444444;
  border: 2px solid #444444;
  display: block;
  cursor: pointer;
  background-color: transparent;
  font-family: "Open Sans", "Verdana", sans-serif; }
  .button:hover {
    background-color: #444444;
    color: #ffffff; }
  .button:active {
    background-color: #444444;
    color: #757575; }

.button--write-us {
  width: 255px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
  margin-bottom: 35px; }

.button--add {
  background-color: #63d1bb;
  border: none;
  color: white;
  margin-left: auto;
  margin-right: auto; }

.button--make-order {
  margin-bottom: 30px;
  margin-top: -20px;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  order: 4; }

.button--send-order {
  width: 260px; }

@media (min-width: 768px) {
  .button--write-review {
    width: 170px;
    position: absolute;
    top: 81px;
    height: 18px;
    right: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  .button--write-us {
    width: 225px;
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 55px; }
  .button--make-order {
    order: 4;
    width: 580px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 43px; }
  .button--order-promo {
    width: 287px; }
  .button--send-order {
    width: 242px;
    padding-top: 14px;
    padding-left: 17px;
    padding-right: 21px; }
  .button--add {
    width: 355px; } }

@media (min-width: 1150px) {
  .button--write-us {
    margin: -53px 0 0 177px;
    padding-bottom: 0;
    height: 35px;
    position: relative; }
  .button--order-promo {
    width: 287px;
    padding-bottom: 13px;
    padding-top: 13px; }
  .button--write-review {
    bottom: 325px;
    right: 0; }
  .button--make-order {
    width: 226px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 80px; }
  .button--send-order {
    width: 240px;
    padding-top: 14px;
    padding-left: 17px;
    padding-right: 17px; } }

.items-for-sale__container {
  background: url("../img/items-for-sale.jpg");
  background-position: 50% -13%;
  background-repeat: no-repeat;
  padding-top: 54px;
  background-color: #f9f9f9; }
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .items-for-sale__container {
      background-image: url("../img/hero-mobile@2x.jpg");
      background-size: 550px auto; } }

.items-for-sale__header {
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto; }

.items-for-sale__item {
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 28px;
  display: block;
  text-decoration: none;
  padding-left: 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  position: relative;
  padding-right: 185px; }

.items-for-sale__item--interior {
  background-color: #63d1bb;
  background-image: url("../img/icon-interior.svg");
  background-repeat: no-repeat;
  background-position: 87% 54%; }

.items-for-sale__item--toys {
  background-color: #56c3b2;
  background-image: url("../img/icon-toy.svg");
  background-repeat: no-repeat;
  background-position: 90% 54%; }

.items-for-sale__item-container {
  margin-top: 119px;
  position: relative;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 768px) {
  .items-for-sale {
    background-color: #f9f9f9; }
  .items-for-sale__item-container {
    display: flex;
    margin-top: 370px;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    position: static; }
    .items-for-sale__item-container::after {
      content: "";
      z-index: 8;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-fill.svg");
      position: absolute;
      bottom: 0;
      background-repeat: repeat-x;
      background-size: 668px 30px;
      left: 0; }
  .items-for-sale__item--interior {
    height: 66px;
    font-size: 20px; }
  .items-for-sale__item--toys {
    height: 66px;
    font-size: 20px; }
  .items-for-sale__header {
    font-size: 43px;
    line-height: 50px;
    margin-top: 100px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: none; }
  .items-for-sale__item {
    width: 50%;
    max-width: none;
    padding-left: 35px;
    padding-top: 34px; }
    .items-for-sale__item:hover {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px); }
  .items-for-sale__container {
    background: url("../img/hero-tablet@1x.jpg");
    background-position: 50% 0;
    background-repeat: no-repeat;
    position: relative; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .items-for-sale__container {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 1145px auto; } }

@media (min-width: 1150px) {
  .items-for-sale__container {
    background: url("../img/hero-desktop@1x.jpg");
    background-position: 50% 50%;
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    background-repeat: no-repeat;
    background-size: 120% 94%;
    position: static; } }
  @media (min-width: 1150px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1150px) and (min-resolution: 144dpi), (min-width: 1150px) and (min-resolution: 1.5dppx) {
    .items-for-sale__container {
      background-image: url("../img/hero-desktop@2x.jpg");
      background-size: cover; } }

@media (min-width: 1150px) {
  .items-for-sale {
    position: relative; }
  .items-for-sale__item {
    padding: 32px 100px 30px 39px;
    background-position: 93% 54%; }
  .items-for-sale__header {
    font-size: 53px;
    line-height: 57px;
    padding-left: 20px; }
  .items-for-sale__item-container {
    margin-top: 360px;
    max-width: 1200px;
    margin-left: 0;
    margin-right: 0; }
    .items-for-sale__item-container::after {
      height: 34px;
      background-size: 1139px 40px; } }

.weekly-promo {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto; }

.weekly-promo__wrapper {
  padding-left: 30px;
  padding-right: 30px; }

.weekly-promo__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin: 0;
  padding-top: 25px; }

.weekly-promo__subheader {
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  margin: 0;
  padding-top: 5px;
  padding-bottom: 12px; }

.weekly-promo__text {
  font-size: 15px;
  line-height: 24px;
  margin-bottom: 14px; }

.weekly-promo__info {
  width: 100%;
  margin-bottom: 30px;
  border-collapse: collapse; }

.weekly-promo__info-item {
  text-align: left; }
  .weekly-promo__info-item th {
    border-bottom: 1px solid #ececec;
    padding-bottom: 9px;
    padding-top: 9px;
    font-weight: normal; }
  .weekly-promo__info-item td {
    border-bottom: 1px solid #ececec;
    padding-bottom: 9px;
    padding-top: 7px;
    padding-left: 21px; }

.weekly-promo__price {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 27px;
  padding-top: 15px;
  margin: 0; }

@media (min-width: 768px) {
  .weekly-promo {
    max-width: 668px;
    margin-left: auto;
    margin-right: auto; }
  .weekly-promo__wrapper {
    padding-left: 0;
    padding-right: 0; }
  .weekly-promo__text {
    padding-top: 21px;
    font-size: 17px;
    line-height: 30px; }
  .weekly-promo__header-container {
    display: flex;
    justify-content: space-between;
    padding-top: 36px; }
  .weekly-promo__image-option {
    width: 335px;
    height: 405px; }
  .weekly-promo__header {
    padding-top: 0;
    font-size: 43px;
    line-height: 50px; }
  .weekly-promo__info-item td {
    padding-top: 10px;
    padding-left: 2px; }
  .weekly-promo__info-item th {
    width: 94px; }
  .weekly-promo__subheader {
    padding-right: 22px;
    font-size: 17px;
    flex: 0 0 80px;
    text-align: center;
    margin-top: 4px; }
  .weekly-promo__promo-item {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100%; }
  .weekly-promo__info {
    flex: 0 0 44%;
    order: 3;
    margin-top: 35px;
    font-size: 15px; }
  .weekly-promo__image {
    width: 40%;
    flex-grow: 1;
    margin-left: 42px;
    margin-top: 47px; }
  .weekly-promo__description {
    flex: 0 0 44%; }
  .weekly-promo__order {
    margin-top: -132px; }
  .weekly-promo__price {
    font-size: 20px;
    line-height: 24px;
    padding-bottom: 33px; } }

@media (min-width: 1150px) {
  .weekly-promo {
    max-width: 1050px; }
  .weekly-promo__header-container {
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding-left: 44px;
    padding-top: 115px; }
  .weekly-promo__image-option {
    width: 525px;
    height: 637px; }
  .weekly-promo__header {
    margin-left: 22px;
    z-index: 5;
    font-size: 53px; }
  .weekly-promo__text {
    padding-top: 23px;
    padding-right: 8px; }
  .weekly-promo__image {
    margin-top: -120px;
    margin-left: 34px; }
  .weekly-promo__price {
    text-align: start;
    padding-left: 72px; }
  .weekly-promo__description {
    margin-left: 177px;
    width: 30%;
    flex: 0 0 30%; }
  .weekly-promo__order {
    margin-left: 177px;
    width: 30%;
    flex: 0 0 30%;
    margin-top: -128px; }
  .weekly-promo__info {
    margin-top: 48px; }
  .weekly-promo__info-item th {
    width: 94px; }
  .weekly-promo__wrapper {
    padding: 0; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .weekly-promo__price {
    padding-left: 0; } }

.about-us__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px; }

.about-us {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto; }

.about-us__header {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
  margin-bottom: 30px; }

.about-us__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: left;
  list-style: none;
  padding-right: 37px;
  position: relative; }

.about-us__list {
  padding-left: 0; }

.about-us__item--material {
  padding-right: 64px;
  padding-top: 58px; }
  .about-us__item--material::before {
    content: "";
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    top: 5px;
    left: 8px;
    width: 32px;
    height: 39px;
    display: block;
    padding-bottom: 15px;
    position: absolute; }

.about-us__item--style {
  padding-top: 82px; }
  .about-us__item--style::before {
    content: "";
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    display: block;
    top: 27px;
    left: 0;
    width: 47px;
    height: 28px;
    padding-top: 31px;
    padding-bottom: 22px;
    position: absolute; }

.about-us__item--likes {
  padding-right: 56px;
  padding-top: 83px; }
  .about-us__item--likes::before {
    content: "";
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    display: block;
    top: 34px;
    left: 7px;
    width: 33px;
    height: 28px;
    padding-top: 35px;
    padding-bottom: 15px;
    padding-left: 8px;
    position: absolute; }

.about-us__item--handmade {
  padding-top: 82px; }
  .about-us__item--handmade::before {
    content: "";
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    top: 31px;
    left: 3px;
    width: 34px;
    height: 34px;
    display: block;
    padding-top: 31px;
    padding-bottom: 15px;
    padding-left: 5px;
    position: absolute; }

.about-us__item--producer {
  padding-right: 0;
  padding-top: 85px; }
  .about-us__item--producer::before {
    content: "";
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    top: 34px;
    left: 0;
    width: 54px;
    height: 23px;
    display: block;
    padding-top: 32px;
    padding-bottom: 24px;
    margin-left: -5px;
    position: absolute; }

.about-us__item--giftwrap {
  padding-top: 81px; }
  .about-us__item--giftwrap::before {
    content: "";
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    top: 29px;
    left: 3px;
    width: 33px;
    height: 33px;
    display: block;
    padding-top: 30px;
    padding-left: 4px;
    padding-bottom: 15px;
    position: absolute; }

@media (min-width: 768px) {
  .about-us {
    position: relative;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto; }
    .about-us::before {
      content: "";
      z-index: 8;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-line.svg");
      position: absolute;
      top: 40px;
      background-repeat: repeat-x;
      background-size: 668px 22px; }
  .about-us__list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 6px; }
  .about-us__header {
    font-size: 43px;
    margin-bottom: 0;
    position: relative; }
  .about-us__wrapper {
    padding-top: 85px;
    padding-left: 0;
    padding-right: 0;
    position: relative; }
  .about-us__item {
    flex: 1 0 40%;
    font-size: 20px;
    line-height: 22px;
    box-sizing: border-box; }
    .about-us__item::before {
      top: 60px; }
  .about-us__item--handmade {
    order: 2;
    padding-top: 106px; }
    .about-us__item--handmade::before {
      padding-top: 0;
      top: 55px; }
  .about-us__item--likes {
    order: 5;
    padding-top: 109px;
    padding-right: 92px; }
  .about-us__item--style {
    order: 3;
    padding-right: 70px;
    padding-top: 113px; }
  .about-us__item--producer {
    order: 4;
    padding-top: 113px; }
  .about-us__item--giftwrap {
    order: 6;
    padding-right: 39px;
    padding-top: 109px; }
    .about-us__item--giftwrap::before {
      padding-bottom: 19px; }
  .about-us__item--material {
    order: 1;
    padding-right: 82px;
    padding-top: 106px; }
    .about-us__item--material::before {
      top: 53px; } }

@media (min-width: 1150px) {
  .about-us__header {
    font-size: 53px; }
  .about-us__wrapper {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 172px;
    padding-right: 16px;
    margin-top: 168px;
    padding-top: 0; }
  .about-us {
    max-width: 1050px; }
    .about-us::before {
      top: -100px;
      height: 44px;
      background-size: 1085px 22px; }
  .about-us__list {
    margin-left: 4px; }
  .about-us__item {
    flex: 0 0 41%; }
  .about-us__item--likes {
    padding-right: 110px; }
    .about-us__item--likes::before {
      padding-bottom: 18px;
      padding-top: 53px; }
  .about-us__item--giftwrap {
    padding-right: 57px; }
    .about-us__item--giftwrap::before {
      padding-top: 58px; }
  .about-us__item--style {
    padding-right: 88px; }
  .about-us__item--producer::before {
    padding-top: 58px; }
  .about-us__item--handmade {
    padding-right: 50px; }
  .about-us__item--material {
    padding-right: 99px; }
    .about-us__item--material::before {
      padding-bottom: 13px; } }

@media all and (min-width: 1150px) and (-ms-high-contrast: none), (min-width: 1150px) and (-ms-high-contrast: active) {
  .about-us__item {
    box-sizing: border-box;
    width: 323px;
    flex: none;
    margin-right: 26px; } }

.reviews__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto; }

.reviews__text {
  font-size: 15px;
  line-height: 30px; }

.reviews__author {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px; }

.reviews__nickname {
  text-decoration: underline; }

.reviews__slider {
  margin: 0; }

.reviews__controls {
  display: flex;
  padding-top: 35px;
  padding-bottom: 38px; }

.reviews__button {
  background-position: center;
  background-repeat: no-repeat;
  width: 130px;
  outline: none;
  border: 1px solid #ececec;
  background-color: transparent;
  display: block;
  height: 50px;
  cursor: pointer; }
  .reviews__button:hover {
    opacity: 0.7; }
  .reviews__button:active {
    opacity: 0.3; }

.reviews__button--next {
  background-image: url("../img/icon-right-arrow.svg"); }

.reviews__button--previous {
  background-image: url("../img/icon-left-arrow.svg"); }

@media (min-width: 768px) {
  .reviews {
    background: url("../img/review@1x.jpg");
    background-repeat: repeat-y;
    position: relative;
    background-size: 46% 100%; } }
  @media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    .reviews {
      background-image: url("../img/review@2x.jpg");
      background-size: 400px auto; } }

@media (min-width: 768px) {
    .reviews::after {
      content: "";
      background-image: url("../img/zigzag-line-desktop.svg");
      width: 100%;
      height: 38px; }
  .reviews__wrapper {
    padding: 80px 0 50px;
    margin-top: 81px;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
  .reviews__controls {
    position: absolute;
    right: 0;
    bottom: 11px; }
  .reviews__button--next {
    margin-right: -4px; }
  .reviews__button {
    border: none;
    width: 91px; }
  .reviews__author {
    margin-top: 59px;
    font-size: 18px;
    line-height: 24px;
    padding-right: 250px; }
  .reviews__nickname {
    font-size: 17px;
    text-decoration: none; }
  .reviews__header {
    font-size: 43px;
    line-height: 50px;
    margin-top: 0;
    padding-right: 300px; }
  .reviews__text {
    font-size: 17px;
    line-height: 30px;
    padding-top: 12px; } }

@media (min-width: 1150px) {
  .reviews {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto; }
  .reviews__wrapper {
    padding-left: 176px;
    padding-bottom: 100px;
    padding-top: 77px;
    margin-top: 88px;
    max-width: 880px;
    position: relative; }
  .reviews__header {
    font-size: 53px; }
  .reviews__text {
    padding-top: 5px;
    padding-right: 102px; }
  .reviews__author {
    margin-top: 40px; }
  .reviews__controls {
    bottom: 60px;
    right: 0; }
  .reviews__button {
    width: 88px; }
  .reviews__button--next {
    margin-right: 0; } }

.contacts__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-top: 72px;
  max-width: 280px;
  margin-left: auto;
  margin-right: auto; }

.contacts__header {
  font-size: 18px; }

.contacts__email-container {
  font-size: 15px;
  line-height: 30px;
  color: #767676;
  display: flex;
  padding-top: 16px; }
  .contacts__email-container dd {
    margin: 0; }

.contacts__email {
  padding-right: 29px; }

.contacts__email-content {
  margin: 0;
  text-decoration: none;
  color: #767676;
  border-bottom: 1px solid #63d1bb; }
  .contacts__email-content:hover {
    color: #46c1ae; }
  .contacts__email-content:active {
    color: #46c1ae;
    opacity: 0.3; }

.contacts__address-content {
  margin-left: 30px; }

.contacts__address-container {
  font-size: 15px;
  line-height: 30px;
  display: flex;
  color: #767676;
  padding-top: 11px; }

.contacts__map-and-button-container {
  padding-bottom: 36px; }

.contacts__map {
  width: 100%;
  height: 460px;
  background-color: grey;
  background-image: url("../img/map-mobile@1x.jpeg"); }

@media (min-width: 768px) {
  .contacts {
    position: relative; }
    .contacts::after {
      content: "";
      z-index: 8;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-line.svg");
      position: absolute;
      top: 70px;
      background-repeat: repeat-x;
      background-size: 668px 22px; }
  .contacts__header {
    font-size: 43px;
    line-height: 50px;
    position: relative;
    margin-bottom: 34px; }
    .contacts__header::before {
      content: "";
      z-index: 8;
      width: 50px;
      height: 78px;
      background-image: url("../img/icon-flag.svg");
      position: absolute;
      right: 0;
      top: -12px;
      background-repeat: no-repeat; }
  .contacts__wrapper {
    padding-top: 110px;
    padding-left: 0;
    padding-right: 0;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    position: relative; }
  .contacts__email {
    padding-right: 22px;
    white-space: nowrap; }
  .contacts__contact-info {
    display: flex;
    padding-right: 0; }
  .contacts__email-container {
    padding-top: 0;
    font-size: 17px; }
  .contacts__address-content {
    margin-left: 31px;
    font-size: 17px; }
  .contacts__address-container {
    width: 50%;
    padding-top: 0;
    margin-left: 55px; }
  .contacts__map {
    background-image: url("../img/map-tablet@1x.jpeg"); }
  .contacts__map-and-button-container {
    padding-bottom: 50px;
    margin-top: 20px; } }

@media (min-width: 1150px) {
  .contacts__wrapper {
    padding-left: 133px;
    padding-bottom: 0;
    width: 30%; }
  .contacts__header {
    font-size: 53px;
    margin-bottom: 38px; }
    .contacts__header::before {
      left: -108px;
      top: -12px; }
  .contacts {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 103px;
    margin-top: 80px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto; }
    .contacts::after {
      height: 44px;
      background-size: 1128px 22px;
      top: -16px;
      left: 0; }
  .contacts__map-and-button-container {
    width: 50%;
    padding-bottom: 0;
    padding-top: 60px; }
  .contacts__contact-info {
    flex-direction: column;
    padding-left: 6px; }
  .contacts__address-container {
    margin-left: 0;
    width: 100%;
    margin-top: 11px; }
  .contacts__map {
    padding-bottom: 0;
    background-image: url("../img/map-desktop@1x.jpeg"); } }

.social {
  padding-top: 34px;
  display: flex;
  justify-content: center; }

.social__link {
  text-decoration: none;
  width: 60px;
  height: 50px;
  text-align: center; }
  .social__link:hover {
    fill: #5bc7b6; }
  .social__link:active {
    fill: #bde3dd; }

.social__link--facebook {
  margin-top: -7px; }

@media (min-width: 768px) {
  .social {
    width: 27%;
    padding-top: 30px; } }

.main-footer {
  background-color: #f1f1f1; }

.main-footer__wrapper {
  max-width: 1050px;
  margin-left: auto;
  margin-right: auto; }

.main-footer__logo {
  display: none; }
  .main-footer__logo:hover {
    fill: #46c1ae; }
  .main-footer__logo:active {
    fill: #bde3dd; }

.main-footer__developed-by-container {
  display: flex;
  padding-top: 7px;
  padding-bottom: 25px;
  justify-content: center;
  width: 260px;
  margin: auto;
  border-top: 1px solid #e5e5e5;
  cursor: pointer; }
  .main-footer__developed-by-container:hover .main-footer__htmlacademy {
    fill: #51c4b2; }
  .main-footer__developed-by-container:active .main-footer__htmlacademy {
    fill: #bde3dd; }

.main-footer__developed-by {
  font-size: 19px;
  line-height: 18px;
  font-weight: bold; }

.main-footer__htmlacademy {
  padding-left: 30px;
  padding-top: 10px;
  fill: #6cd3be; }

@media (min-width: 768px) {
  .main-footer__wrapper {
    display: flex;
    padding-top: 35px;
    justify-content: space-between;
    max-width: 668px;
    padding-bottom: 50px; }
  .main-footer__logo {
    display: block;
    padding-top: 10px;
    width: 27%; }
  .main-footer__developed-by-container {
    padding: 0;
    margin: 0;
    border: none;
    padding-top: 10px;
    width: 27%; } }

@media (min-width: 1150px) {
  .main-footer__wrapper {
    max-width: 1050px; }
  .main-footer__developed-by-container {
    justify-content: flex-end; }
  .main-footer__htmlacademy {
    padding-left: 19px; } }

.popup__wrapper {
  padding-bottom: 45px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
  width: 260px;
  height: 306px;
  display: none;
  z-index: 100; }

.popup__header {
  padding-top: 36px;
  padding-bottom: 25px;
  text-transform: uppercase;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 53px;
  padding-right: 53px;
  text-align: center; }

.popup__pick-size {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block; }

.popup__checkbox {
  display: none; }

.popup__wrapper--show {
  display: block; }

.popup__sizes {
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700; }
  .popup__sizes input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -35px;
    width: 78px;
    height: 50px;
    border: 2px solid #56c3b2; }
  .popup__sizes input[type="checkbox"]:not(:checked) + label::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -35px;
    width: 78px;
    height: 50px;
    border: 2px solid #ececec; }

.popup__content {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 0; }

.popup__label {
  position: relative; }

.popup__label--small {
  margin-right: 7px;
  margin-left: 0; }

@media (min-width: 768px) {
  .popup__wrapper {
    width: 350px;
    height: 290px;
    padding-top: 34px;
    padding-right: 108px;
    padding-left: 108px;
    border: 1px solid #c7c7c7; }
  .popup__header {
    padding-left: 0;
    padding-right: 0;
    font-size: 29px; }
  .popup__sizes {
    width: 250px; }
    .popup__sizes input[type="checkbox"]:checked + label::before {
      content: "";
      width: 108px;
      left: -47px; }
    .popup__sizes input[type="checkbox"]:not(:checked) + label::before {
      width: 108px;
      left: -47px; } }

.order-form__text {
  font-size: 13px;
  line-height: 24px;
  padding-top: 12px;
  margin-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px; }

.order-form__fieldset {
  border: none;
  padding-left: 27px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 0; }

.order-form__fieldset--color {
  padding-bottom: 6px;
  padding-top: 15px; }

.order-form__input-name-content {
  margin-top: 0;
  margin-bottom: 23px; }

.order-form__legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  color: #63d1bb;
  padding-left: 0;
  padding-bottom: 27px;
  width: 260px;
  margin-top: 0;
  margin-bottom: 0; }
  .order-form__legend::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 62px;
    width: 198px;
    height: 1px;
    background-color: #63d1bb; }

.order-form__radio {
  opacity: 0;
  position: absolute; }

.order-form__radio-content {
  padding-left: 63px;
  margin: 0; }

.order-form__label-radio {
  position: relative;
  display: block;
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 5px;
  cursor: pointer; }
  .order-form__label-radio::before {
    content: "";
    position: absolute;
    left: -62px;
    top: -5px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #444444; }
  .order-form__label-radio:hover::before {
    border-color: #62d1ba; }
  .order-form__label-radio:active::before {
    border-color: #d7d7d7; }

.order-form__radio:checked + label::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: -49px;
  top: 8px;
  background-color: #63d1bb;
  border-radius: 50%; }
  .order-form__radio:checked + label::after:hover::before {
    border-color: #62d1ba; }

.order-form__checkbox {
  opacity: 0;
  position: absolute;
  outline: none;
  left: -4px;
  width: 10px;
  height: 10px;
  top: -6px; }

.order-form__checkbox-content {
  padding-left: 63px;
  padding-bottom: 38px;
  margin: 0;
  position: relative; }

.order-form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 5px;
  position: relative;
  display: block;
  cursor: pointer; }
  .order-form__label::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    left: -62px;
    top: -5px;
    border: 2px solid #444444; }
  .order-form__label:hover::before {
    border-color: #62d1ba; }
  .order-form__label:active::before {
    border-color: #d7d7d7; }

.order-form__checkbox:checked + label::after {
  position: absolute;
  width: 23px;
  height: 20px;
  content: "";
  left: -52px;
  top: 2px;
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat; }

.order-form__label-name {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  display: block;
  padding-bottom: 13px; }

.order-form__fieldset-contacts-wrapper {
  margin-top: -18px;
  margin-bottom: 20px; }

.order-form__input-wrapper {
  padding-top: 1px; }

.order-form__input-text {
  outline: none;
  width: 100%;
  border: none;
  padding-bottom: 16px;
  border-bottom: 2px solid black;
  font-size: 17px;
  line-height: 18px; }
  .order-form__input-text::-webkit-input-placeholder {
    color: #c7c7c7; }
  .order-form__input-text::-ms-input-placeholder {
    color: #c7c7c7; }
  .order-form__input-text::placeholder {
    color: #c7c7c7; }
  .order-form__input-text:hover {
    border-color: #62d1ba; }
  .order-form__input-text:active {
    border-color: #62d1ba; }
  .order-form__input-text:focus {
    border-color: #62d1ba; }

.order-form__label-active {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  color: #63d1bb;
  padding-left: 0;
  padding-bottom: 21px;
  display: block;
  width: 260px; }
  .order-form__label-active::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
    margin-right: 30px;
    margin-left: 30px; }

.order-form__label-active--email::after {
  width: 178px;
  margin-left: 24px; }

.order-form__send-order {
  margin: -10px 30px 51px; }

.order-form__input-contacts {
  outline: none;
  width: 100%;
  border: none;
  padding-bottom: 13px;
  border-bottom: 2px solid black;
  background-color: transparent;
  font-size: 17px;
  line-height: 18px;
  color: black; }
  .order-form__input-contacts::-webkit-input-placeholder {
    color: #c7c7c7; }
  .order-form__input-contacts::-ms-input-placeholder {
    color: #c7c7c7; }
  .order-form__input-contacts::placeholder {
    color: #c7c7c7; }
  .order-form__input-contacts:hover {
    border-color: #62d1ba; }
  .order-form__input-contacts:active {
    border-color: #62d1ba; }
  .order-form__input-contacts:focus {
    border-color: #62d1ba; }

.order-form__input-contacts:hover + .order-form__image {
  fill: #62d1ba; }

.order-form__input-contacts:active + .order-form__image {
  fill: #62d1ba; }

.order-form__textarea {
  border: 2px solid black;
  outline: none;
  height: 126px;
  padding-left: 15px;
  width: 92%;
  padding-top: 10px;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 7px;
  font-family: "Open Sans", "Verdana", sans-serif; }
  .order-form__textarea::-webkit-input-placeholder {
    color: #c7c7c7; }
  .order-form__textarea::-ms-input-placeholder {
    color: #c7c7c7; }
  .order-form__textarea::placeholder {
    color: #c7c7c7; }
  .order-form__textarea:hover {
    border-color: #62d1ba; }
  .order-form__textarea:active {
    border-color: #62d1ba; }
  .order-form__textarea:focus {
    border-color: #62d1ba; }

.order-form__span {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 32px;
  display: block; }

.order-form__input-contacts-content {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 3px; }

.order-form__image {
  fill: #cccccc;
  position: absolute;
  bottom: 15px;
  right: 4px; }

@media (min-width: 768px) {
  .order-form__fieldset-wrapper {
    display: flex; }
  .order-form__fieldset {
    padding-bottom: 23px;
    max-width: 668px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }
  .order-form__fieldset--color {
    padding-top: 51px;
    background-color: #f1f1f1;
    padding-bottom: 25px;
    max-width: none; }
  .order-form__fieldset-wrapper--color {
    max-width: 668px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto; }
  .order-form__legend {
    width: 167px;
    padding-top: 15px; }
    .order-form__legend::after {
      display: none; }
  .order-form__fieldset--type {
    padding-top: 15px; }
  .order-form__label {
    padding-top: 16px;
    padding-left: 18px;
    font-size: 19px; }
    .order-form__label::before {
      width: 50px;
      height: 50px;
      top: 0; }
  .order-form__radio-content {
    margin-bottom: 26px;
    padding-left: 19px; }
  .order-form__legend--color {
    padding-top: 18px; }
  .order-form__legend--name {
    padding-top: 10px; }
  .order-form__ckeckbox-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 501px; }
  .order-form__label-radio {
    font-size: 19px;
    padding-left: 61px;
    padding-top: 12px; }
    .order-form__label-radio::before {
      width: 48px;
      height: 48px;
      left: -20px;
      top: -2px; }
  .order-form__checkbox-content {
    width: 240px;
    box-sizing: border-box;
    padding-bottom: 42px; }
  .order-form__input-wrapper {
    display: flex;
    flex-direction: column;
    width: 501px; }
  .order-form__checkbox:checked + label::after {
    width: 35px;
    height: 35px;
    top: 9px; }
  .order-form__input-name-content {
    display: flex;
    margin-bottom: 36px; }
  .order-form__label-name {
    margin-right: 25px;
    font-size: 19px;
    padding-top: 5px; }
  .order-form__input-contacts-content {
    display: flex;
    padding-top: 0; }
  .order-form__input-contacts {
    width: 501px;
    font-size: 19px;
    padding-bottom: 8px;
    padding-left: 15px;
    box-sizing: border-box; }
  .order-form__label-active {
    width: 167px;
    padding-top: 6px;
    margin-top: 6px; }
    .order-form__label-active::after {
      display: none; }
  .order-form__radio:checked + label::after {
    top: 13px;
    left: -5px;
    width: 22px;
    height: 22px; }
  .order-form__fieldset--name {
    padding-top: 60px;
    padding-bottom: 15px; }
  .order-form__send-order {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 52px;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto; }
  .order-form__span {
    order: 2;
    font-size: 17px;
    padding-bottom: 0;
    margin-left: 134px;
    width: 320px; }
  .order-form__fieldset-contacts-wrapper {
    background-color: #f1f1f1;
    padding-top: 52px;
    padding-bottom: 22px;
    margin-bottom: 48px;
    margin-top: 0; }
  .order-form__input-text {
    padding-left: 15px;
    font-size: 19px;
    line-height: 21px; }
  .order-form__radio-wrapper {
    width: 501px; }
  .order-form__text {
    font-size: 17px;
    padding-top: 51px;
    padding-bottom: 43px;
    line-height: 30px;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 0;
    box-sizing: border-box; }
  .order-form__image {
    right: 24px; }
  .order-form__legend--add {
    padding-top: 18px; }
  .order-form__fieldset--contacts {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 25px; }
  .order-form__fieldset--textarea {
    padding-bottom: 0; }
  .order-form__textarea {
    width: 501px;
    font-size: 19px;
    padding-top: 13px;
    height: 142px;
    box-sizing: border-box;
    margin-bottom: 0; } }

@media (min-width: 1150px) {
  .order-form__fieldset {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 28px;
    padding-bottom: 43px; }
  .order-form__label {
    padding-left: 20px; }
    .order-form__label::before {
      left: unset;
      right: 188px; }
  .order-form__span {
    padding-bottom: 4px;
    margin-left: 169px;
    width: 318px; }
  .order-form__fieldset--contacts {
    padding-bottom: 36px;
    padding-top: 0; }
  .order-form__checkbox-content {
    padding-left: 60px; }
  .order-form__fieldset--type {
    padding-top: 50px;
    padding-bottom: 12px; }
  .order-form__radio-content {
    margin-bottom: 38px;
    padding-left: 11px; }
  .order-form__fieldset--color {
    background-color: #f1f1f1;
    padding-bottom: 26px;
    padding-top: 47px;
    max-width: none;
    margin-left: 0;
    margin-right: 0; }
  .order-form__radio-wrapper {
    width: 700px; }
  .order-form__fieldset-wrapper--color {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto; }
  .order-form__fieldset--name {
    padding-top: 58px;
    padding-bottom: 14px; }
  .order-form__legend {
    padding-top: 0;
    font-size: 17px;
    line-height: 16px;
    width: 114px;
    padding-left: 63px; }
  .order-form__legend--name {
    padding-top: 8px; }
  .order-form__input-name-content {
    margin-bottom: 35px; }
  .order-form__text {
    padding: 100px 0 20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    max-width: none;
    box-sizing: border-box; }
  .order-form__input-text {
    font-size: 19px;
    max-width: 700px;
    line-height: 30px;
    padding-bottom: 10px; }
  .order-form__label-radio {
    padding-top: 0;
    padding-left: 67px; }
    .order-form__label-radio::before {
      width: 48px;
      height: 48px;
      left: -14px;
      top: -15px; }
  .order-form__radio:checked + label::after {
    top: 0;
    left: 2px; }
  .order-form__send-order {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 45px;
    width: 700px;
    max-width: none; }
  .order-form__ckeckbox-wrapper {
    margin-top: 0;
    width: 765px; }
  .order-form__label-active {
    width: 114px;
    padding-bottom: 0;
    padding-top: 5px;
    margin-top: 0;
    padding-left: 63px; }
  .order-form__input-wrapper {
    margin-top: 0;
    width: 700px; }
  .order-form__input-contacts {
    font-size: 19px;
    line-height: 27px;
    width: 700px; }
    .order-form__input-contacts::-webkit-input-placeholder {
      font-size: 19px; }
    .order-form__input-contacts::-ms-input-placeholder {
      font-size: 19px; }
    .order-form__input-contacts::placeholder {
      font-size: 19px; }
  .order-form__image {
    left: 840px; }
  .order-form__fieldset-contacts-wrapper {
    padding-top: 63px;
    padding-bottom: 11px;
    max-width: 100%; }
  .order-form__fieldset--textarea {
    padding-top: 0;
    padding-bottom: 0; }
  .order-form__checkbox:checked + label::after {
    top: 11px;
    left: -50px; }
  .order-form__textarea {
    width: 700px;
    height: 142px;
    font-size: 19px;
    padding-top: 13px; }
  .order-form__legend--add {
    padding-top: 17px; }
  .order-form__input-contacts-content {
    width: 877px; }
  .order-form__legend--color {
    padding-top: 20px; } }

@media all and (min-width: 1150px) and (-ms-high-contrast: none), (min-width: 1150px) and (-ms-high-contrast: active) {
  .order-form__span {
    width: 350px; } }

.page-content__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 60px;
  margin-top: 29px; }

.page-content__items {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto; }

@media (min-width: 768px) {
  .page-content__wrapper-form {
    padding: 0; }
  .page-content__items {
    margin-top: 70px;
    max-width: none; }
  .page-content__wrapper {
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 53px; }
  .page-content__index-wrapper {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 1150px) {
  .page-content__wrapper {
    margin-top: 125px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 90px; }
  .page-content__items {
    display: flex; }
  .page-content__index-wrapper {
    max-width: none; } }

.item {
  border: 1px solid #ededed;
  margin-bottom: 26px; }
  .item:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
  .item:active {
    box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.2); }

.item__container {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto; }

.item__image {
  padding-bottom: 24px;
  display: block;
  position: relative; }

.item__header {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000; }
  .item__header:hover {
    color: #666666; }
  .item__header:active {
    color: #c7c7c7; }

.item__description {
  padding-left: 26px; }

.item__dimensions {
  font-size: 13px;
  line-height: 30px;
  margin-top: 5px;
  margin-bottom: 17px; }

.item__video-control {
  position: absolute;
  top: 47%;
  left: 31%;
  width: 102px;
  height: 78px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer; }
  .item__video-control:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2); }
  .item__video-control:active {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.7; }

.item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 25px;
  padding-bottom: 30px;
  padding-top: 21px;
  border-top: 1px solid #ededed;
  position: relative; }

.item--process {
  border: 1px solid #ededed;
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto; }
  .item--process:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1); }
  .item--process:active {
    box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.2); }

.item__price-content {
  position: relative; }

.item__icon-cart {
  position: absolute;
  right: 26px;
  top: 27px;
  cursor: pointer;
  fill: #cccccc; }
  .item__icon-cart:hover {
    fill: #63d1bb; }
  .item__icon-cart:active {
    fill: #e7f8f5; }

.item__text-video {
  order: 2; }

.item__header--process {
  padding-left: 90px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 15% 70%;
  position: absolute;
  top: 7px; }

.item__video {
  order: 2;
  padding-top: 90px;
  position: relative; }

.item__process-text {
  font-size: 13px;
  line-height: 24px;
  padding-left: 35px;
  padding-bottom: 30px;
  margin-top: -6px;
  padding-right: 40px;
  padding-top: 6px;
  order: 3; }

@media (min-width: 768px) {
  .item {
    display: flex;
    margin-bottom: 53px; }
  .item__icon-cart {
    right: 31px;
    top: 22px; }
  .item__video-control {
    top: 42%;
    left: 43%;
    width: 102px;
    height: 78px; }
  .item__container {
    margin-top: 70px;
    max-width: none; }
  .item--process {
    max-width: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px; }
  .item__header {
    font-size: 20px; }
  .item__dimensions {
    font-size: 15px; }
  .item__price-content {
    margin-top: 174px; }
  .item__text-video {
    order: 2;
    padding-bottom: 14px; }
  .item__description {
    padding-right: 50px; }
  .item__price-content--toys {
    margin-top: 145px; }
  .item__price {
    font-size: 17px;
    line-height: 24px;
    margin-left: 32px; }
  .item__image-link {
    height: 334px; }
  .item__image-video {
    width: 668px;
    height: 455px; }
  .item__about {
    width: 50%;
    margin-top: 30px;
    margin-bottom: -5px;
    flex-grow: 1; }
  .item__image {
    margin-top: 0;
    padding-bottom: 0;
    flex-grow: 1;
    justify-content: center;
    display: flex; }
  .item__image-option {
    width: 334px;
    height: 335px; }
  .item__video {
    width: 100%;
    order: 1;
    padding-top: 0; }
  .item__header--process {
    order: 2;
    margin-top: 39px;
    margin-left: 17px;
    background-position: 4% 70%;
    position: static; }
  .item__process-text {
    order: 3;
    font-size: 15px;
    line-height: 30px;
    margin-top: 25px;
    margin-left: 6px;
    margin-bottom: 24px; } }

@media (min-width: 1150px) {
  .item__container {
    display: flex; }
  .item {
    display: flex;
    flex-direction: column;
    width: 316px;
    margin-right: 4.6%;
    margin-bottom: 60px; }
  .item__price {
    margin-left: 27px; }
  .item__header--process {
    padding-top: 55px;
    padding-left: 60px;
    padding-right: 56px;
    background-position: 22% 3%; }
  .item--process {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    width: 1050px; }
  .item__image-video {
    width: 680px;
    height: 455px; }
  .item__process-text {
    padding-left: 73px;
    padding-bottom: 43px;
    padding-right: 0;
    margin-top: 9px; }
  .item__price-content {
    margin-top: 39px; }
  .item__price-content--toys {
    margin-top: -2px; }
  .item__image-link {
    height: 460px; }
  .item__image-option {
    width: 320px;
    height: 460px; }
  .item__about {
    width: 100%;
    margin-top: 23px; }
  .item__video {
    width: 682px;
    height: 455px; }
  .item__text-video {
    display: flex;
    flex-direction: column;
    width: 32%; }
  .item--toys {
    margin-right: 0; } }

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 98;
  display: none;
  background-color: #ffffff;
  opacity: 0.9; }

.overlay--show {
  display: block; }

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2"); }

@font-face {
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
  src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2"); }

body {
  min-width: 320px;
  font-family: "Open Sans", "Verdana", sans-serif;
  margin: 0 auto; }
