@mixin header {
  font-size: 25px;
  line-height: 30px;
  font-weight: bold;
}

$padding-top-for-items: 35px;
$padding-bottom-for-items: 15px;

.about-us__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 45px;
}

.about-us {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.about-us__header {
  @include header;
  margin-bottom: 30px;
}

.about-us__item {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: left;
  list-style: none;
  padding-right: 37px;
  position: relative;
}

.about-us__list {
  padding-left: 0;
}

.about-us__item--material {
  padding-right: 64px;
  padding-top: 58px;

  &::before {
    content: "";
    background-image: url("../img/icon-feature-flower.svg");
    background-repeat: no-repeat;
    top: 5px;
    left: 8px;
    width: 32px;
    height: 39px;
    display: block;
    padding-bottom: 15px;
    position: absolute;
  }
}

.about-us__item--style {
  padding-top: 82px;

  &::before {
    content: "";
    background-image: url("../img/icon-feature-money.svg");
    background-repeat: no-repeat;
    display: block;
    top: 27px;
    left: 0;
    width: 47px;
    height: 28px;
    padding-top: 31px;
    padding-bottom: 22px;
    position: absolute;
  }
}

.about-us__item--likes {
  padding-right: 56px;
  padding-top: 83px;

  &::before {
    content: "";
    background-image: url("../img/icon-feature-heart.svg");
    background-repeat: no-repeat;
    display: block;
    top: 34px;
    left: 7px;
    width: 33px;
    height: 28px;
    padding-top: $padding-top-for-items;
    padding-bottom: $padding-bottom-for-items;
    padding-left: 8px;
    position: absolute;
  }
}

.about-us__item--handmade {
  padding-top: 82px;

  &::before {
    content: "";
    background-image: url("../img/icon-feature-ball.svg");
    background-repeat: no-repeat;
    top: 31px;
    left: 3px;
    width: 34px;
    height: 34px;
    display: block;
    padding-top: 31px;
    padding-bottom: 15px;
    padding-left: 5px;
    position: absolute;
  }
}

.about-us__item--producer {
  padding-right: 0;
  padding-top: 85px;

  &::before {
    content: "";
    background-image: url("../img/icon-feature-rocket.svg");
    background-repeat: no-repeat;
    top: 34px;
    left: 0;
    width: 54px;
    height: 23px;
    display: block;
    padding-top: 32px;
    padding-bottom: 24px;
    margin-left: -5px;
    position: absolute;
  }
}

.about-us__item--giftwrap {
  padding-top: 81px;

  &::before {
    content: "";
    background-image: url("../img/icon-feature-gift.svg");
    background-repeat: no-repeat;
    top: 29px;
    left: 3px;
    width: 33px;
    height: 33px;
    display: block;
    padding-top: 30px;
    padding-left: 4px;
    padding-bottom: $padding-bottom-for-items;
    position: absolute;
  }
}

@media (min-width: 768px) {
  .about-us {
    position: relative;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;

    &::before {
      content: "";
      z-index: 8;
      width: 100%;
      height: 24px;
      background-image: url("../img/bg-zigzag-line.svg");
      position: absolute;
      top: 40px;
      background-repeat: repeat-x;
      background-size: 668px 22px;
    }
  }

  .about-us__list {
    display: flex;
    flex-flow: row wrap;
    margin-top: 6px;
  }

  .about-us__header {
    font-size: 43px;
    margin-bottom: 0;
    position: relative;
  }

  .about-us__wrapper {
    padding-top: 85px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .about-us__item {
    flex: 1 0 40%;
    font-size: 20px;
    line-height: 22px;
    box-sizing: border-box;

    &::before {
      top: 60px;
    }
  }

  .about-us__item--handmade {
    order: 2;
    padding-top: 106px;

    &::before {
      padding-top: 0;
      top: 55px;
    }
  }

  .about-us__item--likes {
    order: 5;
    padding-top: 109px;
    padding-right: 92px;
  }

  .about-us__item--style {
    order: 3;
    padding-right: 70px;
    padding-top: 113px;
  }

  .about-us__item--producer {
    order: 4;
    padding-top: 113px;
  }

  .about-us__item--giftwrap {
    order: 6;
    padding-right: 39px;
    padding-top: 109px;

    &::before {
      padding-bottom: 19px;
    }
  }

  .about-us__item--material {
    order: 1;
    padding-right: 82px;
    padding-top: 106px;

    &::before {
      top: 53px;
    }
  }
}

@media (min-width: 1150px) {
  .about-us__header {
    font-size: 53px;
  }

  .about-us__wrapper {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 172px;
    padding-right: 16px;
    margin-top: 168px;
    padding-top: 0;
  }

  .about-us {
    max-width: 1050px;

    &::before {
      top: -100px;
      height: 44px;
      background-size: 1085px 22px;
    }
  }

  .about-us__list {
    margin-left: 4px;
  }

  .about-us__item {
    flex: 0 0 41%;
  }

  .about-us__item--likes {
    padding-right: 110px;

    &::before {
      padding-bottom: 18px;
      padding-top: 53px;
    }
  }

  .about-us__item--giftwrap {
    padding-right: 57px;

    &::before {
      padding-top: 58px;
    }
  }

  .about-us__item--style {
    padding-right: 88px;
  }

  .about-us__item--producer {
    &::before {
      padding-top: 58px;
    }
  }

  .about-us__item--handmade {
    padding-right: 50px;
  }

  .about-us__item--material {
    padding-right: 99px;

    &::before {
      padding-bottom: 13px;
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .about-us__item {
      box-sizing: border-box;
      width: 323px;
      flex: none;
      margin-right: 26px;
    }
  }
}
