.button{
  text-decoration: none;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 260px;
  color: #444444;
  border: 2px solid #444444;
  display: block;
  cursor: pointer;
  background-color: transparent;
  &:hover{
    background-color:#444444;
    color:#ffffff;
  }
  &:active{
    background-color:#444444;
    color:#757575;
  }
}

.button--write-us{
  width: 260px;
  padding-left: 0px;
  padding-right: 0px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.button--add{
  background-color:#63d1bb;
  border: none;
  color:white;
  margin-left: auto;
  margin-right: auto;
}

.button--make-order{
  margin-bottom: 30px;
  margin-top: -20px;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  order: 4;
}
@media (min-width: 768px){
  .button--write-review{
    width: 170px;
    position: absolute;
    bottom: 322px;
    right: 32px;
    padding-left: 0px;
    padding-right: 0px;
    text-align: center;
  }
  .button--write-us{
    width: 225px;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 36%;
    margin-bottom: 35px;
  }
  .button--make-order{
    order: 4;
    width: 580px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 43px;
  }
.button--order-promo{
  width: 285px;
}
  .button--send-order{
    width: 228px;
    padding-left: 0;
    padding-right: 0;
    height: 51px;
  }
}
@media (min-width: 1150px){
  .button--write-us{
    margin: -50px 0px 0px 175px;
    padding-bottom: 0px;
    height: 35px;
  }
  .button--order-promo{
    width: 290px;
    margin-left: 6px;
  }
  .button--write-review{
    bottom:325px;
    right: -16px;
  }
  .button--make-order{
    width: 224px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 80px;
  }
}
