.contacts__wrapper{
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 23px;
  padding-top: 72px;
}
.contacts__header{
  font-size: 18px;
}
.contacts__email-container{
  font-size:15px;
  line-height: 30px;
  color:#767676;
  display: flex;
  padding-top: 16px;
    dd{
       margin:0px;
     }
}

.contacts__email{
  padding-right: 32px;
}

.contacts__email-content{
  margin:0px;
  text-decoration:none;
  color:#767676;
  border-bottom: 1px solid #63d1bb;
  &:hover{
    color: #46c1ae;
  }
  &:active{
    color:#46c1ae;
    opacity: 0.3;
  }
}

.contacts__address-content{
  margin-left: 30px;
}
.contacts__address-container{
  font-size:15px;
  line-height: 30px;
  display: flex;
  color:#767676;
  padding-top: 11px;
}

.contacts__map{
  padding-bottom: 42px;
  width: 100%;
}

@media (min-width: 768px){
  .contacts{
    position: relative;
    &::after{
      content: "";
      z-index: 8;
      width: 100%;
      height: 24px;
      background-image: url(../img/bg-zigzag-line.svg);
      position: absolute;
      top: 30px;
      background-repeat: repeat-x;
      background-size: 668px 22px;
    }
  }
  .contacts__header{
    font-size: 43px;
    line-height: 50px;
    position: relative;
    &::before{
      content: "";
      z-index: 8;
      width: 50px;
      height: 78px;
      background-image: url(../img/icon-flag.svg);
      position: absolute;
      left: 622px;
      top: -12px;
      background-repeat: no-repeat;
    }
  }
  .contacts__wrapper{
    padding-top: 110px;
    padding-left: 45px;
    position: relative;
  }
  .contacts__email{
    padding-right: 22px;
  }
  .contacts__contact-info{
    display: flex;
    padding-left: 5px;
    padding-right: 0px;
  }
  .contacts__email-container{
    padding-top: 0px;
    font-size: 17px;
  }
  .contacts__address-content{
    margin-left: 31px;
    font-size: 17px;
  }
  .contacts__address-container{
    width: 50%;
    padding-top: 0px;
    margin-left: 55px;
  }
  .contacts__map-and-button-container{
    padding-bottom: 12px;
    margin-top: 20px;
  }
}
@media (min-width: 1150px){
  .contacts__wrapper{
    padding-left: 170px;
    padding-bottom: 0px;
  }
  .contacts__header{
    &::before{
        left: -100px;
        top: -12px;
    }
  }
  .contacts{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 100px;
    margin-top: 80px;
    &::after{
    height: 44px;
    background-size: 1128px 42px;
    top:-24px;
    left: 0;
    }
  }
  .contacts__header{
    font-size: 53px;
  }
  .contacts__map-and-button-container{
    width:50%;
    padding-bottom: 0px;
    padding-top: 60px;
  }
  .contacts__wrapper{
    width: 30%;
  }
  .contacts__contact-info{
    flex-direction: column;
  }
  .contacts__address-container{
    margin-left: 0;
    width: 100%;
  }
  .contacts__map{
    padding-bottom: 0px;
  }
}
