.item{
  border-bottom:1px solid #ededed;
  border-right:1px solid #ededed;
  border-left: 1px solid #ededed;

}

.item__image{
  margin-top: 30px;
  padding-bottom: 30px;
  display: block;
}

.item__header{
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}
.item__description{
  padding-left: 25px;
}

.item__dimensions{
  font-size: 13px;
  line-height: 30px;
}

.item__price{
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  margin: 0px;
  margin-left: 25px;
  margin-right: 25px;
  padding-bottom: 30px;
  padding-top: 25px;
  border-top: 1px solid #ededed;
}

.item__process{
  border: 1px solid #ededed;
  margin-top:30px;
}

.item__header--process{
  padding-left: 90px;
  position: relative;
  background-image: url(../img/icon-video.svg);
  background-repeat: no-repeat;
  background-position: 4% 70%;
}

.item__process-text{
  font-size: 13px;
  line-height: 24px;
  padding-left: 35px;
  padding-bottom: 30px;
}

@media (min-width: 768px){
  .item{
    display: flex;
  }
  .item__about{
    width: 50%;
    margin-top: 30px;
  }
  .item__image{
    width: 50%;
    margin-top: 0px;
  }
  .item{
    margin-top: 55px;
  }
  .item__process{
    display: flex;
    flex-direction: column;
  }
  .item__video{
    width: 100%;
    order:1;
  }
  .item__header--process{
    order:2;
  }
  .item__process-text{
    order: 3;
  }
}
@media (min-width: 1150px){
  .item__container{
    display: flex;
  }
  .item{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin-right: 2%;
  }
}
