.item {
  border: 1px solid #ededed;
  margin-bottom: 26px;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.2);
  }
}

.item__container {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

.item__image {
  padding-bottom: 24px;
  display: block;
  position: relative;
}

.item__header {
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: #666666;
  }

  &:active {
    color: #c7c7c7;
  }
}

.item__description {
  padding-left: 26px;
}

.item__dimensions {
  font-size: 13px;
  line-height: 30px;
  margin-top: 5px;
}

.item__video-control {
  position: absolute;
  top: 47%;
  left: 31%;
  width: 102px;
  height: 78px;
  background-color: transparent;
  background-image: url("../img/icon-play.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.item__price {
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  margin: 0 25px;
  padding-bottom: 30px;
  padding-top: 25px;
  border-top: 1px solid #ededed;
  position: relative;
}

.item__process {
  border: 1px solid #ededed;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 4px 3px -1px rgba(0, 0, 0, 0.2);
  }
}

.item__price-content {
  position: relative;
}

.item__icon-cart {
  position: absolute;
  right: 26px;
  top: 27px;
  cursor: pointer;
  fill: #cccccc;

  &:hover {
    fill: #63d1bb;
  }

  &:active {
    fill: #e7f8f5;
  }
}

.item__text-video {
  order: 2;
}

.item__header--process {
  padding-left: 90px;
  background-image: url("../img/icon-video.svg");
  background-repeat: no-repeat;
  background-position: 15% 70%;
  position: absolute;
  top: 7px;
}

.item__video {
  order: 2;
  padding-top: 90px;
  position: relative;
}

.item__process-text {
  font-size: 13px;
  line-height: 24px;
  padding-left: 35px;
  padding-bottom: 30px;
  margin-top: -6px;
  padding-right: 40px;
  padding-top: 6px;
  order: 3;
}

@media (min-width: 768px) {
  .item {
    display: flex;
    margin-bottom: 53px;
  }

  .item__icon-cart {
    right: 31px;
  }

  .item__video-control {
    top: 42%;
    left: 43%;
    width: 102px;
    height: 78px;
  }

  .item__container {
    margin-top: 70px;
    max-width: none;
  }

  .item__process {
    max-width: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .item__header {
    font-size: 20px;
  }

  .item__dimensions {
    font-size: 15px;
  }

  .item__price-content {
    margin-top: 170px;
  }

  .item__text-video {
    order: 2;
    padding-bottom: 14px;
  }

  .item__description {
    padding-right: 50px;
  }

  .item__price-content--toys {
    margin-top: 145px;
  }

  .item__price {
    font-size: 17px;
    line-height: 24px;
    margin-left: 32px;
  }

  .item__image-link {
    height: 334px;
  }

  .item__image-video {
    width: 668px;
    height: 455px;
  }

  .item__about {
    width: 50%;
    margin-top: 30px;
    margin-bottom: -5px;
    flex-grow: 1;
  }

  .item__image {
    margin-top: 0;
    padding-bottom: 0;
    flex-grow: 1;
    justify-content: center;
    display: flex;
  }

  .item__image-option {
    width: 334px;
    height: 335px;
  }

  .item__video {
    width: 100%;
    order: 1;
    padding-top: 0;
  }

  .item__header--process {
    order: 2;
    margin-top: 39px;
    margin-left: 17px;
    background-position: 4% 70%;
    position: static;
  }

  .item__process-text {
    order: 3;
    font-size: 15px;
    line-height: 30px;
    margin-top: 25px;
    margin-left: 6px;
    margin-bottom: 24px;
  }
}

@media (min-width: 1150px) {
  .item__container {
    display: flex;
  }

  .item {
    display: flex;
    flex-direction: column;
    width: 316px;
    margin-right: 4.7%;
    margin-bottom: 56px;
  }

  .item__price {
    margin-left: 27px;
  }

  .item__header--process {
    padding-top: 55px;
    padding-left: 60px;
    padding-right: 56px;
    background-position: 22% 3%;
  }

  .item__process {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 0;
    width: 1050px;
  }

  .item__image-video {
    width: 680px;
    height: 455px;
  }

  .item__process-text {
    padding-left: 73px;
    padding-bottom: 43px;
    padding-right: 0;
    margin-top: 9px;
  }

  .item__price-content {
    margin-top: 39px;
  }

  .item__price-content--toys {
    margin-top: -2px;
  }

  .item__image-link {
    height: 460px;
  }

  .item__image-option {
    width: 320px;
    height: 460px;
  }

  .item__about {
    width: 100%;
    margin-top: 23px;
  }

  .item__video {
    width: 682px;
    height: 455px;
  }

  .item__text-video {
    display: flex;
    flex-direction: column;
    width: 32%;
  }
}
