$nav-border: 1px solid #ececec;
.logo{
  border-bottom: $nav-border;
  padding-top: 19px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
}

@media only screen
and (min-width: 768px){
  .logo{
    order: 1;
    margin: 0px;
    border: none;
    text-align: left;
    width: 50%;
    padding-top: 22px;
  }
  .logo__image{
    margin-right: 170px;
  }
}
@media (min-width: 1150px){
 .logo{
   order:2;
   display: flex;
   justify-content: center;
   width: 19%;
   border: none;
   padding-left: 30px;
   padding-right: 14px;
   padding-top: 10px;
 }
 .logo__image{
   margin: 0px;
 }
}
