$nav-border: 1px solid #ececec;

.logo {
  padding-top: 11px;
  padding-bottom: 7px;
  width: 98px;
  margin: auto;
  display: flex;
}

.logo__image {
  &:hover {
    opacity: 0.4;
  }

  &:active {
    opacity: 0.2;
  }
}

@media only screen and (min-width: 768px) {
  .logo {
    order: 1;
    margin: 0;
    border: none;
    text-align: left;
    width: 200px;
    padding-top: 22px;
  }

  .logo__image {
    display: flex;
    justify-content: flex-start;
    width: 109px;
  }

  .logo__image-option {
    width: 112px;
    height: 46px;
  }
}

@media (min-width: 1150px) {
  .logo {
    order: 2;
    display: flex;
    justify-content: center;
    width: 19%;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    align-self: center;
    margin-left: 45px;
  }

  .logo__image {
    margin: 0;
    width: 165px;
  }

  .logo__image-option {
    width: 148px;
    height: 73px;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .logo {
      padding-bottom: 4px;
    }
  }
}
