.main-footer{
  background-color: #f1f1f1;
}

.main-footer__developed-by-container{
  display: flex;
  padding-left: 48%;
  padding-top: 50px;
  padding-bottom: 25px;

}
.main-footer__developed-by{
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}

.main-footer__htmlacademy{
  padding-left: 30px;
  padding-top: 10px;
}
