$nav-border: 1px solid #ececec;
.main-nav{
  position: relative;

.main-nav__button{
  font-size: 0px;
  outline:none;
  width: 22px;
  height: 22px;
  background-image: url(../img/icon-menu-open.svg);
  border: none;
  background-color: #ffffff;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top:-50px;
}

.main-nav__dropdown{
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  display: none;


  .main-nav__item{
   color:#000000;
   text-decoration: none;
   padding-bottom: 15px;
   padding-top: 15px;
   padding-left: 75px;
   padding-right: 70px;
   display: block;
   border-bottom: $nav-border;
  }
  .main-nav__form{
    display: flex;
    position: relative;
    padding-bottom: 15px;
    padding-top: 15px;
    border-bottom: $nav-border;
    padding-left: 75px;
    padding-right: 70px;

 .main-nav__form-label{
   background: url(../img/icon-search.svg);
   width: 16px;
   height: 16px;
   font-size: 0px;
   cursor: pointer;
   position: absolute;
   left: 30px;
   opacity: 0.5;
 }
  .main-nav__form-input{
   border: none;
   outline: none;

   &::-webkit-input-placeholder {
   color:#000000;
   font-size: 17px;
   font-weight: 600;
   opacity: 0.7;
}
  }
  }
}
}
