.order-form__text {
  font-size: 13px;
  line-height: 24px;
  padding-top: 12px;
  margin-bottom: 24px;
  padding-left: 30px;
  padding-right: 30px;
}

.order-form__fieldset {
  border: none;
  padding-left: 27px;
  padding-right: 30px;
  padding-bottom: 10px;
  padding-top: 0;
}

.order-form__fieldset--color {
  padding-bottom: 6px;
  padding-top: 15px;
}

.order-form__input-name-content {
  margin-top: 0;
  margin-bottom: 23px;
}

.order-form__legend {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  color: #63d1bb;
  padding-left: 0;
  padding-bottom: 27px;
  width: 260px;
  margin-top: 0;
  margin-bottom: 0;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: 62px;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
  }
}

.order-form__radio {
  opacity: 0;
  position: absolute;
}

.order-form__radio-content {
  padding-left: 63px;
  margin: 0;
}

.order-form__label-radio {
  position: relative;
  display: block;
  padding-bottom: 20px;
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 5px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: -62px;
    top: -5px;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid #444444;
  }

  &:hover {
    &::before {
      border-color: #62d1ba;
    }
  }

  &:active {
    &::before {
      border-color: #d7d7d7;
    }
  }
}

.order-form__radio:checked + label::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: -49px;
  top: 8px;
  background-color: #63d1bb;
  border-radius: 50%;

  &:hover {
    &::before {
      border-color: #62d1ba;
    }
  }
}

.order-form__checkbox {
  opacity: 0;
  position: absolute;
  outline: none;
  left: -4px;
  width: 10px;
  height: 10px;
  top: -6px;
}

.order-form__checkbox-content {
  padding-left: 63px;
  padding-bottom: 38px;
  margin: 0;
  position: relative;
}

.order-form__label {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  padding-top: 5px;
  position: relative;
  display: block;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    left: -62px;
    top: -5px;
    border: 2px solid #444444;
  }

  &:hover {
    &::before {
      border-color: #62d1ba;
    }
  }

  &:active {
    &::before {
      border-color: #d7d7d7;
    }
  }
}

.order-form__checkbox:checked + label::after {
  position: absolute;
  width: 23px;
  height: 20px;
  content: "";
  left: -52px;
  top: 2px;
  background-image: url("../img/icon-tick.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.order-form__label-name {
  font-size: 17px;
  line-height: 18px;
  font-weight: bold;
  display: block;
  padding-bottom: 13px;
}

.order-form__fieldset-contacts-wrapper {
  margin-top: -18px;
  margin-bottom: 20px;
}

.order-form__input-wrapper {
  padding-top: 1px;
}

.order-form__input-text {
  outline: none;
  width: 100%;
  border: none;
  padding-bottom: 16px;
  border-bottom: 2px solid black;
  font-size: 17px;
  line-height: 18px;
  font-family: "Open Sans", "Verdana", sans-serif;

  &::placeholder {
    color: #c7c7c7;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}

.order-form__label-active {
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  position: relative;
  text-transform: uppercase;
  color: #63d1bb;
  padding-left: 0;
  padding-bottom: 21px;
  display: block;
  width: 260px;

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
    margin-right: 30px;
    margin-left: 30px;
  }
}

.order-form__label-active--email {
  &::after {
    width: 178px;
    margin-left: 24px;
  }
}

.order-form__send-order {
  margin: -10px 30px 51px;
}

.order-form__input-contacts {
  outline: none;
  width: 100%;
  border: none;
  padding-bottom: 13px;
  border-bottom: 2px solid black;
  background-color: transparent;
  font-size: 17px;
  line-height: 18px;
  color: black;

  &::placeholder {
    color: #c7c7c7;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}

.order-form__input-contacts:hover + .order-form__image {
  fill: #62d1ba;
}

.order-form__input-contacts:active + .order-form__image {
  fill: #62d1ba;
}

.order-form__textarea {
  border: 2px solid black;
  outline: none;
  height: 126px;
  padding-left: 15px;
  width: 92%;
  padding-top: 10px;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 7px;
  font-family: "Open Sans", "Verdana", sans-serif;

  &::placeholder {
    color: #c7c7c7;
  }

  &:hover {
    border-color: #62d1ba;
  }

  &:active {
    border-color: #62d1ba;
  }

  &:focus {
    border-color: #62d1ba;
  }
}

.order-form__span {
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 32px;
  display: block;
}

.order-form__input-contacts-content {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 3px;
}

.order-form__image {
  fill: #cccccc;
  position: absolute;
  bottom: 15px;
  right: 4px;
}

@media (min-width: 768px) {
  .order-form__fieldset-wrapper {
    display: flex;
  }

  .order-form__fieldset {
    padding-left: 40px;
    padding-bottom: 23px;
    max-width: 668px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .order-form__fieldset--color {
    padding-top: 51px;
    background-color: #f1f1f1;
    padding-bottom: 25px;
    max-width: none;
  }

  .order-form__fieldset-wrapper--color {
    max-width: 668px;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .order-form__legend {
    width: 167px;
    padding-top: 15px;

    &::after {
      display: none;
    }
  }

  .order-form__fieldset--type {
    padding-top: 0;
  }

  .order-form__label {
    padding-top: 16px;
    padding-left: 18px;
    font-size: 19px;

    &::before {
      width: 50px;
      height: 50px;
      top: 0;
    }
  }

  .order-form__radio-content {
    margin-bottom: 26px;
    padding-left: 19px;
  }

  .order-form__legend--color {
    padding-top: 18px;
  }

  .order-form__legend--name {
    padding-top: 10px;
  }

  .order-form__ckeckbox-wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 501px;
  }

  .order-form__label-radio {
    font-size: 19px;
    padding-left: 61px;
    padding-top: 12px;

    &::before {
      width: 48px;
      height: 48px;
      left: -20px;
      top: -2px;
    }
  }

  .order-form__checkbox-content {
    width: 240px;
    box-sizing: border-box;
    padding-bottom: 42px;
  }

  .order-form__input-wrapper {
    display: flex;
    flex-direction: column;
    width: 501px;
  }

  .order-form__checkbox:checked + label::after {
    width: 35px;
    height: 35px;
    top: 9px;
  }

  .order-form__input-name-content {
    display: flex;
    margin-bottom: 36px;
  }

  .order-form__label-name {
    margin-right: 25px;
    font-size: 19px;
    padding-top: 5px;
  }

  .order-form__input-contacts-content {
    display: flex;
    padding-top: 0;
  }

  .order-form__input-contacts {
    width: 501px;
    font-size: 19px;
    padding-bottom: 8px;
    padding-left: 15px;
    box-sizing: border-box;
  }

  .order-form__label-active {
    width: 167px;
    padding-top: 6px;
    margin-top: 6px;

    &::after {
      display: none;
    }
  }

  .order-form__radio:checked + label::after {
    top: 13px;
    left: -5px;
    width: 22px;
    height: 22px;
  }

  .order-form__fieldset--name {
    padding-top: 60px;
    padding-bottom: 15px;
  }

  .order-form__send-order {
    display: flex;
    align-items: center;
    margin-bottom: 48px;
    margin-top: 52px;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .order-form__span {
    order: 2;
    font-size: 17px;
    padding-bottom: 0;
    margin-left: 134px;
    width: 320px;
  }

  .order-form__fieldset-contacts-wrapper {
    background-color: #f1f1f1;
    padding-top: 52px;
    padding-bottom: 22px;
    margin-bottom: 48px;
    margin-top: 0;
  }

  .order-form__input-text {
    padding-left: 15px;
    font-size: 19px;
    padding-bottom: 12px;
  }

  .order-form__radio-wrapper {
    width: 501px;
  }

  .order-form__text {
    font-size: 17px;
    padding-top: 51px;
    padding-bottom: 43px;
    line-height: 30px;
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0;
    padding-left: 0;
    box-sizing: border-box;
  }

  .order-form__fieldset--type {
    padding-top: 15px;
  }

  .order-form__image {
    right: 24px;
  }

  .order-form__legend--add {
    padding-top: 18px;
  }

  .order-form__fieldset--contacts {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 25px;
  }

  .order-form__fieldset--textarea {
    padding-bottom: 0;
  }

  .order-form__textarea {
    width: 501px;
    font-size: 19px;
    padding-top: 13px;
    height: 142px;
    box-sizing: border-box;
    margin-bottom: 0;
  }
}

@media (min-width: 1150px) {
  .order-form__fieldset {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 28px;
    padding-bottom: 43px;
  }

  .order-form__label {
    &::before {
      left: unset;
      right: 188px;
    }
  }

  .order-form__span {
    padding-bottom: 4px;
    margin-left: 169px;
    width: 318px;
  }

  .order-form__fieldset--contacts {
    padding-bottom: 36px;
    padding-top: 0;
  }

  .order-form__checkbox-content {
    padding-left: 60px;
  }

  .order-form__fieldset--type {
    padding-top: 50px;
    padding-bottom: 12px;
  }

  .order-form__radio-content {
    margin-bottom: 38px;
    padding-left: 11px;
  }

  .order-form__fieldset--color {
    background-color: #f1f1f1;
    padding-bottom: 26px;
    padding-top: 47px;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }

  .order-form__radio-wrapper {
    width: 700px;
  }

  .order-form__fieldset-wrapper--color {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }

  .order-form__fieldset--name {
    padding-top: 58px;
    padding-bottom: 14px;
  }

  .order-form__legend {
    padding-top: 0;
    font-size: 17px;
    line-height: 16px;
    width: 114px;
    padding-left: 63px;
  }

  .order-form__legend--name {
    padding-top: 8px;
  }

  .order-form__input-name-content {
    margin-bottom: 35px;
  }

  .order-form__text {
    padding: 100px 0px 20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    max-width: none;
    box-sizing: border-box;
  }

  .order-form__input-text {
    font-size: 19px;
    padding-bottom: 14px;
    max-width: 700px;
  }

  .order-form__label-radio {
    padding-top: 0;
    padding-left: 67px;

    &::before {
      width: 48px;
      height: 48px;
      left: -14px;
      top: -15px;
    }
  }

  .order-form__radio:checked + label::after {
    top: 0;
    left: 2px;
  }

  .order-form__send-order {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 45px;
    width: 700px;
    max-width: none;
  }

  .order-form__ckeckbox-wrapper {
    margin-top: 0;
    width: 765px;
  }

  .order-form__label {
    padding-left: 20px;
  }

  .order-form__label-active {
    width: 114px;
    padding-bottom: 0;
    padding-top: 5px;
    margin-top: 0;
    padding-left: 63px;
  }

  .order-form__input-wrapper {
    margin-top: 0;
    width: 700px;
  }

  .order-form__input-contacts {
    font-size: 19px;
    padding-bottom: 13px;
    width: 700px;

    &::placeholder {
      font-size: 19px;
    }
  }

  .order-form__image {
    left: 840px;
  }

  .order-form__fieldset-contacts-wrapper {
    padding-top: 63px;
    padding-bottom: 11px;
    max-width: 100%;
  }

  .order-form__fieldset--textarea {
    padding-top: 0;
    padding-bottom: 0;
  }

  .order-form__checkbox:checked + label::after {
    top: 11px;
    left: -50px;
  }

  .order-form__textarea {
    width: 700px;
    height: 142px;
    font-size: 19px;
    padding-top: 13px;
  }

  .order-form__legend--add {
    padding-top: 17px;
  }

  .order-form__input-contacts-content {
    width: 877px;
  }

  .order-form__legend--color {
    padding-top: 20px;
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .order-form__span {
      width: 350px;
    }
  }
}
