.page-content__wrapper {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 55px;
  margin-top: 35px;
}

.page-content__items {
  max-width: 260px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .page-content__wrapper-form {
    padding: 0;
  }

  .page-content__items {
    margin-top: 70px;
    max-width: none;
  }

  .page-content__wrapper {
    max-width: 668px;
    margin-left: auto;
    margin-right: auto;
  }

  .page-content__index-wrapper {
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1150px) {
  .page-content__wrapper {
    margin-top: 125px;
    max-width: 1050px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 96px;
  }

  .page-content__items {
    display: flex;
  }

  .page-content__index-wrapper {
    max-width: none;
  }
}
