.page-header__header{
  padding-top:70px;
  padding-bottom: 70px;
  background-color: #f1f1f1;
  font-size: 27px;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  margin: 0px;
}

@media (min-width: 768px){
  .page-header__header{
    margin-top: -55px;
    font-size: 43px;
    padding-top: 80px;
  }
}
