.popup__wrapper {
  padding-bottom: 45px;
  padding-top: 30px;
  padding-right: 30px;
  padding-left: 30px;
  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 2px 0 rgba(50, 50, 50, 0.75);
  width: 260px;
  height: 306px;
  display: none;
  z-index: 100;
}

.popup__header {
  padding-top: 36px;
  padding-bottom: 25px;
  text-transform: uppercase;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 53px;
  padding-right: 53px;
  text-align: center;
}

.popup__pick-size {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: block;
}

.popup__checkbox {
  display: none;
}

.popup__wrapper--show {
  display: block;
}

.popup__sizes {
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;

  input[type="checkbox"]:checked + label::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -35px;
    width: 78px;
    height: 50px;
    border: 2px solid #56c3b2;
  }

  input[type="checkbox"]:not(:checked) + label::before {
    content: "";
    position: absolute;
    top: -15px;
    left: -35px;
    width: 78px;
    height: 50px;
    border: 2px solid #ececec;
  }
}

.popup__content {
  margin-top: 30px;
  margin-bottom: 50px;
  margin-left: 0;
}

.popup__label {
  position: relative;
}

.popup__label--small {
  margin-right: 7px;
  margin-left: 0;
}

@media (min-width: 768px){
  .popup__wrapper{
    width: 350px;
    height: 290px;
    padding-top: 34px;
    padding-right: 108px;
    padding-left: 108px;
    border: 1px solid #c7c7c7;
  }

  .popup__header{
    padding-left: 0;
    padding-right: 0;
    font-size: 29px;
  }

  .popup__sizes{
    width: 250px;

    input[type="checkbox"]:checked + label::before {
      content: "";
      width: 108px;
      left: -47px;
    }

    input[type="checkbox"]:not(:checked) + label::before {
      width: 108px;
      left: -47px;
    }
  }
}
