.reviews__wrapper{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
}

.reviews__text{
  font-size: 15px;
  line-height: 30px;
}

.reviews__author{
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 5px;
}

.reviews__nickname{
  text-decoration: underline;
}
.reviews__slider{
  margin:0;
}
.reviews__controls{
  display: flex;
  padding-top: 35px;
  padding-bottom: 38px;
}
.reviews__button{
  background-position: center;
  background-repeat: no-repeat;
  width: 130px;
  outline: none;
  border: $nav-border;
  background-color: transparent;
  display: block;
  height: 50px;
}

.reviews__button--next{
  background-image: url(../img/icon-right-arrow.svg);
}

.reviews__button--previous{
  background-image: url(../img/icon-left-arrow.svg);
}
@media (min-width: 768px){
 .reviews{
   background-image:url(../img/review@1x.jpg);
   background-repeat: no-repeat;
   position: relative;
   &::after{
     content:"";
     background-image: url(../img/zigzag-line-desktop.svg);
     width: 100%;
     height: 38px;
   }
 }
 .reviews__wrapper{
   padding-top: 80px;
   padding-bottom: 50px;
   margin-top: 85px;
   padding-left: 42px;
 }
.reviews__controls{
  position: absolute;
  right: 43px;
  bottom: 8px;
}
.reviews__button--next{
  margin-right: -4px;
}
.reviews__button{
  border: none;
  width: 80px;
}
.reviews__author{
  margin-top: 56px;
  padding-left: 8px;
  font-size: 18px;
  line-height: 24px;
}
.reviews__nickname{
  padding-left: 8px;
  font-size: 17px;
  text-decoration: none;
}
.reviews__header{
  font-size: 43px;
  line-height: 50px;
  margin-top: 0px;
}
.reviews__text{
  font-size: 17px;
  line-height: 30px;
  padding-top: 15px;
  padding-left: 6px;
}
}
@media (min-width: 1150px){
  .reviews{
    margin-left: 100px;
    margin-right: 100px;
  }
 .reviews__wrapper{
   padding-left: 170px;
   padding-bottom: 100px;
 }
 .reviews__header{
   font-size: 53px;
 }
 .reviews__text{
   padding-top: 5px;
   padding-right: 40px;
 }
 .reviews__author{
   margin-top: 40px;
   padding-left: 2px;
 }
 .reviews__controls{
   bottom: 60px;
   right: -6px;
 }
}
